@charset "ISO-8859-1";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 100vh;
	padding-top: 50px;
	text-align: center;
	background-color: #121212;
	font-family: 'Poppins', sans-serif;
}

.custom-container {
	text-align: center;
	background-color: #050505;
	padding: 30px;
	padding-left: 100px;
	padding-right: 100px;
	border-radius: 10px;
	box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.3);
	margin: 0 auto;
	margin-top: 50px;
	justify-content: center;
}

.container {
	text-align: center;
	background-color: #050505;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	margin: 0 auto;
	justify-content: center;
}

button {
	background-color: #409546;
	color: white;
	padding: 14px 30px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	border-radius: 30px;
	margin: 10px;
	width: 42%;
	font-family: 'Poppins';
	font-weight: 600;
}

button:hover {
	background-color: #337736;
}

.form-button {
	margin-top: 40px;
}

.custom-form {
	width: 450px;
	font-weight: 600;
	background-color: #050505;
	border-color: #D3D3D3;
	border-radius: 8px;
	color: #D3D3D3;
	padding: 30px;
}

label {
	display: block;
	margin-right: 135px;
	margin-top: 20px;
	
}

input, textarea {
	width: 200px;
	background-color: #000000;
	color: white;
	padding: 10px;
	margin-top: 8px;
	border: 1px solid #848484;
	border-radius: 4px;
	font-size: 14px;
}

h1 {
	margin-bottom: 0;
	font-size: 50px;
	color: #f9f9f9;
}

h2 {
	color: #f9f9f9;
}

h3 {
	color: #d50000;
	font-size: 18px;
	font-weight: normal;
	
}